.pe-item {
  .pe-item_label {
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    color: #606266;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1;
  }
  .is-required {
    &:before {
      content: "*";
      color: #f56c6c;
      margin-right: 4px;
    }
  }
  .pe-item_content {
    position: relative;
    font-size: 14px;
    position: relative;
    line-height: 1;
  }
}
.inline {
  .pe-item_label {
    float: left;
    height: 40px;
    line-height: 40px;
  }
  // .pe-item_content{
  //   float: left;
  // }
}